.progress-keep {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  position: fixed;
  bottom: 0;
}

.progress-keep-text {
  font-weight: 100;
  font-size: .8rem;
}