.language-switcher {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #0B1220;
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid #1E3A8A;
}

.language-switcher-button {
  width: 50px;
  height: 34px;
  padding: .2rem;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.language-switcher-button:hover {
  border-color: #38BDF8;
  transform: scale(1.1);
}

.language-switcher-button.active {
  border-color: #38BDF8;
}

.language-flag {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
}

.language-flag svg {
  width: 110%;
  height: 110%;
}

@media (max-width: 768px) {
  .language-switcher-button {
    width: 44px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .language-switcher-button {
    width: 38px;
    height: 26px;
  }
}