.navbar {
    width: 100%;
    position: fixed;
    padding: 1.5rem;
    z-index: 1000;
    pointer-events: all;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle:hover {
    cursor: pointer;
}