.about-section {
  min-height: 100vh;
  height: 100vh;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
  overflow: hidden
}

.about-container {
  width: 70%;
  padding: 2rem;
  border: 2px solid #1E3A8A;
  backdrop-filter: blur(2px);
}

.about-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.about-text {
  text-align: justify;
}