.app {
  position: relative;
  width: 100%;
  overflow-x: hidden
}

section {
  position: relative;
  width: 100%
}

.delicate-dots-background {
  pointer-events: auto;
  position: fixed;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0
}

.content-wrapper {
  position: relative;
  z-index: 1;
  pointer-events: none;
}